@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="@colorToRed">Current count: @currentCount</div>

<button class="btn btn-primary" @onclick="IncrementCount">+</button>
<button class="btn btn-primary" @onclick="DecrementCount">-</button>

@code {
    private int currentCount = 0;
    private string colorToRed => Enumerable.Range(1, 5).Contains(currentCount) ? "red" : "";

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

}
